<div class="nested-fields option-fields">
  <fieldset class="option-remove-assoc">
    <%= link_to_remove_association "remove this option", f %>
  </fieldset> <br/>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </fieldset> <br/>
  <fieldset>
    <%= f.label "Option Picture" %>
    <%= f.file_field :o_picture, accept: 'image/jpeg, image/gif, image/png' %>
  </fieldset>
</div>
<hr>