<fieldset>
  <%= o.name %> 
<% if o.required? %>
<span style="color: red;"><small>*Required</small></span>
<% end %> <br />
  <%= o.description %>
</fieldset>
<fieldset>
    <%= image_tag o.o_picture.url(:medium), alt: o.name, class: "img-responsive" if o.o_picture.present? %>
</fieldset>
<fieldset>
  <% if o.values.any? %>
    <% if o.multiple_values? %>
      <%= render 'options/option_values_checkbox', o: o, f: f %>
    <% else %>
      <%= render 'options/option_values_radio_button', o: o, f: f %>
    <% end %>
  <% end %>
</fieldset>
<hr/>