<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <%= render 'admin/shared/error_messages', object: f.object %>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', item: order_item.item, order_item: order_item, show_total: true %>
  <% end %>
  <h2 class="text-right" style="color: green; font-weight: bold;">Subtotal: <%= number_to_currency current_order.subtotal, unit: "EGP" %> </h2>
  <div class="order-controls">
    <%= render 'orders/order_controls', order: current_order %>
  </div>
<% end %>