<a id="item-link" href="/items/<%= item.id %>">
<div id="item">
	<figure id="item-picture">
		<%= image_tag item.picture.url(:medium), alt: item.title, width: "170", class: "img-responsive" %>
	</figure>
	<div id="item-title">
		<%= item.title %>
	</div>
	<div id="item-description">
		<%= item.description %>
	</div>
	<div id="item-price">
		<em><%= number_to_currency(item.price, unit: "EG") %></em>
	</div>
	<div id="item-categories">
		<p><small>Categories: 
				<% item.categories.each do |c| %>
					<%= c.title %>
				<% end %> 
		</small></p>
	</div>
	<% if admin_role? %>
		<div id="admin-controls">
			<%= link_to "Edit item", edit_admin_item_path(item) %>
			<%= link_to "Delete item", admin_item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	<% end %> 
</div>
</a>