<a href="<%= item_path(item) %>">
<div id="item">
	<div id="item-picture">
		<%= image_tag item.picture.url(:medium), alt: item.title, width: "150" %>
	</div>
	<div id="item-title">
		<%= item.title %>
	</div>
	<div id="item-description">
		<%= item.description %>
	</div>
	<div id="item-price">
		<%= number_to_currency(item.price, unit: "EG") %>
	</div>
</div>
</a>